<div class="content clearfix">
  <div class="section--wrapper col-xs-12">
    <h1 class="section--title">Good books</h1>
    <div class="section--body">
      <h4>I try to read as much as possible (although sometimes, Netflix gets in the way). Not everything I read is good but if it is, you'll find it here. A <i class="em em-book"></i> means it blew my mind in some way or another.</p>
      <ul>
        <li>Ego is The Enemy</span> <i class="em em-book"></i></li>
        <li>The Obstacle is The Way</li>
        <li>Rework</span> <i class="em em-book"></i></li>
        <li>Remote</li>
        <li>Ready Player One</span> <i class="em em-book"></i></li>
        <li>The Subtle Art of Not Giving a Fuck</li>
        <li>Hooked: Building Habit Forming Products</li>
        <li>Sapiens</span> <i class="em em-book"></i></li>
        <li>The War of Art</li>
        <li>Bird by Bird</li>
        <li>Meditations</span> <i class="em em-book"></i></li>
        <li>Gang Leader for a Day</li>
        <li>My Life as an Experiment</li>
        <li>The Year of Living Biblically</li>
        <li>Provenance: How a Con Man and a Forger Rewrote the History of Modern Art</li>
        <li>How To Win Friends & Influence People</li>  
        <li>The Stand</span> <i class="em em-book"></i></li>
        <li>When The Lion Feeds Saga</li>      
        <li>Salem's Lot</li>
        <li>Lord of The Rings Trilogy</li>  
        <li>Harry Potter Saga</li>  
        <li>Barça: The Making of the Greatest Team in History</li>
        <li>More Money Than God</li>
        <li>We Are All Weird</li>
        <li>Founders at Work</span> <i class="em em-book"></i></li>
        <li>Predictably Irrational</li>
        <li>Freakonomics</li>
        <li>I'll Go Home Then; It's Warm and It has Chairs</li>
        <li>The Four Hour *</li>
        <li>The 22 Immutable Laws of Marketing</li>
        <li>Jony Ive: The Genius Behind Apple's Greatest Products</li>
        <li>The Hard Thing About Hard Things</li>
        <li>Product Design For the Web</li>
        <li>Zero to One</span> <i class="em em-book"></i></li>
        <li>Soccernomics</li>
        <li>Trust Me I'm Lying: Confessions of a Media Manipulation</li>
        <li>The Art of Learning: A Journey in the Pursuit of Excellence </li>
        <li>Permission Marketing: Turning Strangers Into Friends And Friends Into Customers </li>
        <li>The Adweek Copywriting Handbook</li>
        <li>Pep Guardiola: Another Way of Winning</li>
        <li>Steal Like an Artist</li>
        <li>The Subtle Art of Not Giving a Fuck</li>
        <li>Getting Real <i class="em em-book"></i></li>
      </ul>
    </div>
  </div>
</div>