<div class="content clearfix">
  <div class="article--wrapper col-xs-12">

  <h1 class="article--title">The Email System We Used To Make $256,603 in 2016</h1>

  <div class="article--body"> 
   <br />

   <p>At EVELO, we are big fans of email marketing. In fact, in 2016, it drove 15.35% of our total sales, with an annual spend of $13,000. That’s a big ass ROI. </p>

  <p>A considerable portion of that came from our main welcome flow. I won’t get into the details of how we capture emails. I will focus on how we nurture and convert people.</p>

  <p>We use something called Hooks and Open Loops. Like Soap Operas. Cliffhangers. Each email has a few open loops that get opened, and then closed in subsequent emails. </p>

  <p>A few things to keep in mind. </p>

  <ul>
  <li>Our usual customer is +50. </li>
  <li>Our AOV is $2,900</li>
  <li>Our sales cycle is between 1-2 weeks.</li>
  </ul>

  <h2>Email #1</h2>
  <h4>59.1% open rate, 33% click rate.</h4>
  <div class="email--body">
    <p>Hey there!</p>
    <p>This is Boris Mordkovich, Co-Founder and Chief Electric Officer of EVELO Electric Bikes.</p>
    <p>Thank you so much for joining us in this journey. Over the next week, you'll get one email a day from us. In them, you'll find useful information about electric bikes, and a few amazing stories from EVELO riders – people just like you who decided to get an electric bike. </p>
    <p>Also, I’m really thrilled to share The Complete Electric Bike Buyer’s Guide - a 17,000-word guide on everything you need to know before buying an electric bike!</p>
    <p>Before you start reading the guide, I would like to tell you a quick story. I co-founded EVELO in 2011 after my brother and co-founder decided to build an electric bike for his wife.</p>
    <p>As a regular cyclist himself, he wanted her to join him on longer rides, but a regular bike wasn't working because it was difficult for her to keep up, which limited how far they could ride together.</p>
    <p>That’s why they fell in love with electric bikes: for their ability to help equalize riders and give everyone the ability to enjoy all of the benefits of biking – regardless of fitness level, age, or hills.</p>
    <p>Since launching EVELO, we’ve worked hard to build a company that brings as much fun to others as it has to us. We're a small, but rapidly growing company that wants to make a positive impact in the lives of our customers.</p>
    <p>We do this by delivering a life-changing, fun electric bike that you will enjoy for years to come and ‘wowing’ you through our amazing customer service.</p>
    <p>Making biking more fun for more people - regardless of hills, age or physical ability. </p>
    <p>Just take a look at what one EVELO rider has to say: </p>
    <p>“The bike is unbelievable! It is true - once you ride it you understand how great it is. With this bike if I get tired I can motor back home. I don't have to worry about distance any more. With the assist I usually don't become tired.”
    </p>
    <p>Your Copy Of The Complete Electric Bike Buyer's Guide
    You can access the web version of the guide here - Read The Guide. If you prefer to Download or Print out the guide, here's a link -- The Complete Electric Bike Buyer’s Guide (PDF Version).</p>
    <p>It’s a free, unbiased resource we put together to help anyone looking to purchase an electric bike -- be it an EVELO or not. The guide will take you from "zero to hero" on everything you need to know about electric bikes to make an informed decision.</p>
    <p>If you have a question, or prefer to speak with someone from our Customer Support team, simply respond to this email and you’ll hear back from us within a few hours -- 7 days a week!
    </p>
    <p>Oh, and one more thing!</p>
    <p>Tomorrow I’ll tell you the story of John, from Flagstaff, Arizona, who is one of our many happy customers. His story is quite interesting, but I don't want to spoil the fun. I'll just say that it might sound familiar to you... 
    </p>
    <p>See you tomorrow!</p>
    <p>With optimism,</p>
    <p>Boris Mordkovich | Co-Founder & CEO</p>
  </div>

  <h2>Email #2</h2>
  <h4>44.4% open rate, 10.4% click rate.</h4>
  <div class="email--body">
    <p>"My EVELO makes riding fun. Nothing but fun. And more fun!"</p>
    <p>That’s literally how John describes his EVELO Aries. </p>
    <p>Since his electric bike arrived on his doorstep awhile ago, John has put over 200 miles on it.</p>
    <p>You see, John is 65, lives in hilly Flagstaff, AZ, and has a couple of grandchildren.</p>
    <p>You could say he wanted the same thing everyone his age wants.</p>
    <p>That is, John wanted to start exercising again and return to a more active lifestyle ... the one he had before.</p>
    <p>He wanted to enjoy riding, have fun, and spend quality time outdoors with his wife and grandchildren without becoming exhausted and worrying about climbing the hills on the way home.</p>
    <p>So when he took his first ride on his EVELO, he was thrilled!</p>
    <p>First, the powerful 500W mid-drive motor makes riding a breeze: “Hills become flat. I have been riding on pavement dirt roads and trails in the forest. Riding a regular bike was quite a bit of work in hilly areas like where I live.” </p>
    <p>Second, our long-range battery helps him conquer trails up to 60 miles, so he doesn’t worry about going too far. In fact, he said, “After 25 miles on pedal assist I still have over half a battery left.” </p>
    <p>And on top of that, he looks amazing on it!</p>
    <p>The sporty, aggressive design of the Aries is an eye-catcher. John likes to ride it to the farmers market. Once there, half the people ask him about the bike, and comment on it’s design. </p>
    <p> “It’s a great ice breaker", as he says. We think John's awfully modest.</p>
    <p>John is outstandingly happy. But you know what? He was on the verge of not getting an EVELO.  </p>
    <p>He was this close... </p>
    <p>In tomorrow’s email I’m going to tell you the reason behind his hesitation, and what prompted him to finally pull the trigger and purchase an electric bike that he'll enjoy for years to come. </p>
    <p>Stay tuned! </p>
    <p>With optimism,</p>
    <p>Boris Mordkovich | Co-Founder & CEO</p>
  </div>

  <h2>Email #3</h2>
  <h4>39.8% open rate, 8.1% click rate.</h4>
  <div class="email--body">
    <p>"My EVELO makes riding fun. Nothing but fun. And more fun!"</p>


<p>Good morning!</p>

<p>Greetings from EVELO headquarters in New York City.
Yesterday I promised I would tell you the end of John’s story – that moment he hesitated about pulling the trigger on a brand-new EVELO electric bicycle.</p>

<p>But don’t blame John!</p>

<p>He had a few solid concerns -- which many of our customers share before they make a decision on an electric bike. </p>

<p>"Are EVELO e-bikes reliable? How long does the battery last? How can I service the bike if there are no real dealers close?"</p>

<p>Trust me, these are all great questions!</p>

<p>Lucky for John, our Director of Customer Service (Bill) was around to quickly soothe his concerns.</p><p>
How easy is it to service the bike? Very easy! 85% of an EVELO is a regular bike and, as such, can be serviced by novice riders or at virtually any bike shop.</p>
<p>If you ever have an issue, just give us a call. A friendly customer service manager will troubleshoot your issue over the phone and help you resolve it on the spot or set up an appointment at a nearby bicycle shop for repairs.</p>

<p>All you have to do is drop off the bike and we’ll handle all of the communication with the shop, ship them the parts, and notify you when the bike is ready to be picked up.</p>
<p>For more detailed information, check out this 90-second video where one of our Customer Service Managers explains how EVELO handles service and repairs across the country.
It’s incredibly easy! </p>
<p>Are EVELO e-bikes reliable? You bet! Our bikes are thoughtfully designed and masterfully built with only the highest-quality materials. We’ve been around since 2011 and have thousands of happy riders all over the country.</p>

<p>Our customers have put thousands of miles on their EVELO bikes. We even have a 1000 Mile Club highlighting riders who pass their first 1,000 miles.</p>

<p>In addition, you are covered with our 18-Month Comprehensive Warranty and 10-Day At-Home Trial. If you don't absolutely love the bike for any reason at all, we'll exchange it or take it right back from you for free within 10 days after delivery –- no questions asked. We even cover return shipping, so there are no surprises, no hidden fees and no hassles for you - our customer. We're that confident that you will love your new EVELO!</p>

<p>How long does the battery last? EVELO’s Standard Battery can go up to 40 miles on pedal-assist mode. Our Extended-Range Batteries offer up to 48-60 miles of riding fun.</p>

<p>If you want to go farther, you can always pedal yourself (it's just like a normal bike!) or buy an extra battery pack and quickly swap it mid-ride. </p>
<p>After a friendly chat with Bill, John decided to go with a brand-new Aries with the SuperCharged 500W Mid-Drive Motor and the NuVinci N360 Drivetrain.</p>

<p>I guess you know how this story ends :)</p>

<p>Oh, one last thing. Tomorrow I'll introduce you to Terry and his wife. She started riding again thanks to her EVELO Luna.
 "Since we purchased her Luna, I’ve seen a great change that I wasn’t sure I’d ever see."</p> 
<p>Powerful words! You don't want to miss this one!</p>
<p>See you tomorrow.</p>

    <p>With optimism,</p>
    <p>Boris Mordkovich | Co-Founder & CEO</p>
  </div>

  </div>
</div>