<div>

    <div class="column col-xs-12 col-md-6 column__intro left-column">

      <h1 class="homepage--title">Gonz Sánchez</h2>
      <p class="homepage--intro">Growth & product guy, I can also design and code. Argentinean living in Paris, but flying around the world. <%= link_to 'Now', now_path  %>.</p>


      <h3>💻 Work</h3>
      <p class="homepage--intro">Previously Intern at <a href="https://foundersgrid.com">Foundersgrid</a>, Content Specialist at <a href="https://piktochart.com">Piktochart</a>, Director of Marketing at <a href="https://evelo.com">EVELO</a>, now <a href="https://themartec.com">freelancing</a>, <a href="https://thebrandery.com">mentoring startups</a>. <a href="https://jobbatical.com/hiring/how-it-works/?utm_source=source&utm_medium=medium&utm_campaign=campaign">Jobbatical</a></p> 

<p class="tags">
        <span class="foundation">Foundation</span> <br />
        <span class="individual--tag" id="base">behavioral psychology</span>
        <span class="individual--tag" id="base">data & analytics</span>
        <span class="individual--tag" id="base">design & UX</span>
        <span class="individual--tag" id="base">development</span>
        <span class="individual--tag" id="base">branding & positioning</span>
        <span class="individual--tag" id="base">management</span>
        <span class="individual--tag" id="base">automation</span>
</p>

<p class="tags">
        <span class="foundation">Marketing Skills</span> <br />
        <span class="individual--tag" id="marketing">CRO</span>
        <span class="individual--tag" id="marketing">excel modelling</span>
        <span class="individual--tag" id="marketing">funnel building</span>
        <span class="individual--tag" id="marketing">customer experience</span>
        <span class="individual--tag" id="marketing">customer lifecycle</span>
</p>

<p class="tags">
        <span class="foundation">Channel Specific</span> <br />
        <span class="individual--tag" id="channel">content & editorial</span>
        <span class="individual--tag" id="channel">email marketing</span>
        <span class="individual--tag" id="channel">facebook ads</span>
        <span class="individual--tag" id="channel">sales & lead gen</span>
        <span class="individual--tag" id="channel">social media</span>
</p>


      <h3>🚀 Projects</h3>
      <p class="homepage--intro">14,000 emails sent with <a href="http://minimize.email">Minimize Email</a>, +1000 subscribers on <a href="http://ecommercedai.ly">eCommerce Daily</a>, 8,000 users in 24 hours on <a href="http://blackfridaytech.co">Black Friday Tech</a>, <a href="http://diversitylist.co">Diversity List</a></p>

      <h3>🍺 Cool stuff about me</h3>
      <p class="homepage--intro">I read, fly, speak 4 languages, and lift heavy things. I don't mind the occasional burger or ramen. My body is <a href="https://www.mayoclinic.org/diseases-conditions/lymphedema/basics/definition/con-20025603">not symmetrical</a>, which led me to stoicism.</p>

      <h3>🏆 Success</h3>
      <p class="homepage--intro">College drop-out. Working remotely and doing OK. I could stop working and nothing would happen. Learned to code. <a href="https://www.shopperapproved.com/reviews/evelo.com/">Helped</a> hundreds of people. I'm healthy.</p>

      <h3>😰 Failures</h3>
      <p class="homepage--intro">College drop-out. 2 startups. Didn't prepare enough for my dream job's interview.</p>

      <h3>📱 Stay in touch</h3>
      <p class="homepage--intro"><a href="mailto: gonsanchezs@gmail.com">Email</a> or <a href="https://www.twitter.com/gonsanchezs">@gonsanchezs</a>.</p>

</div>

<div class="col-md-6 right-column">
</div>


  <!--
    <div class="col-xs-12 col-md-3 column" id="mobile-invisible">
      <h3 class="column--title">Thoughts</h3>

      <% @posts.each do |post| %>
        <h4 class="column--post-title"><%= link_to post.title, post, :class => "column--post-title__link" %></h4>
        <p class="column--post__date""> <%= post.created_at.strftime("%B %Y") %></p>
      <% end %>
      
    </div>


    <div class="col-xs-12 col-md-3 column" id="mobile-invisible">
      <h3 class="column--title">Case Studies</h3>
      <h4 class="column--post-title"><a class="column--post-title__link" href="#">Generating $150,000 with Email Automation</a></h4>
      <p class="column--post__date"">Coming soon</p>      
      <h4 class="column--post-title"><%= link_to 'Building an Attribution Model for EVELO', attribution_path, :class => "column--post-title__link" %></h4>
      <p class="column--post__date"">Friday April 10th</p>      
      <h4 class="column--post-title"><a class="column--post-title__link" href="https://www.viralsweep.com/casestudies/evelo/">Planning a Successful Giveaway</a></h4>
      <p class="column--post__date">Viralsweep.com</p>
    </div>
-->

  </div>