<div class="content clearfix">

    <div class="column col-xs-12 col-md-6 column__intro">
      <h2 class="homepage--title">Hola, che.</h2>
      <p class="homepage--intro">Argentinean. Currently Director of Marketing at <a href="http://evelo.com" class="site--link">EVELO</a>.</p>
      <p class="homepage--intro">Built 2 startups with varying degrees of success that ultimately failed. Brandery mentor &amp; alumn.</p>
      <p class="homepage--intro">I enjoy coffee <i class="em em-coffee"></i>, football <i class="em em-soccer"></i>, beer <i class="em em-beer"></i>, <a href="cities.html" class="site--link">flying</a> <i class="em em-airplane"></i> and <a href="books.html" class="site--link">books</a> <i class="em em-books"></i>.</p>

    </div>


    <div class="col-xs-12 col-md-3 column" id="mobile-invisible">
      <h3 class="column--title">Articles</h3>

      <% @posts.each do |post| %>
        <h4 class="column--post-title"><%= link_to post.title, post, :class => "column--post-title__link" %></h4>
        <p class="column--post__date""> <%= post.created_at.strftime("%B %Y") %></p>
      <% end %>
      
    </div>

    <div class="col-xs-12 col-md-3 column" id="mobile-invisible">
      <h3 class="column--title">Case Studies</h3>
      <h4 class="column--post-title"><a class="column--post-title__link" href="#">Generating $150,000 with Email Automation</a></h4>
      <p class="column--post__date"">Friday April 10th</p>      
      <h4 class="column--post-title"><a class="column--post-title__link" href="#">Chess App</a></h4>
      <p class="column--post__date"">Friday April 10th</p>      
      <h4 class="column--post-title"><a class="column--post-title__link" href="#">Planning a Successful Giveaway</a></h4>
      <p class="column--post__date">Friday April 10th</p>
    </div>

  </div>