<div class="content clearfix">
  <div class="section--wrapper col-xs-12">
    <h1 class="section--title">What I'm doing now</h1>
    <div class="section--body">
      <h4>I hate About pages, but I love Now pages. They are dynamic, as we humans are. Below you can see what I'm up to these days.</h4>

      <p>I just left my role as Director of Marketing at <a href="http://evelo.com" class="site--link">EVELO</a>. Two things are occupying my mind right now.</p>
      <p>First, Europe. I'm living in Milano, but I need to find a way to stay here past January.</p>
      <p>Second, my work future. I'm unsure whether to find a new job, or start another company. I'm excited, but scared at the same time. Below you can see my 2017 Resolutions.</p>

      <h2>Health</h2>
      <ul>
        <li>Increase strenght by increasing my 5 rep max - <s>Deadlift 100kg</s>, <s>front squat 80kg</s>, push press 70kg, bench press 100kg, <s>10 pull-ups</s>.</li>
        <li>Increase mobility - Gymnastics Body Intermediate Level. Update: slowly making progress.</li>
      </ul>

      <h2>Work</h2>
        <ul>
          <li>Start a company or get a new job. Update: first step is done. I no longer work at EVELO.</li> 
          <li>Start a side project. <a href="http://minimize.email">Does this count?</a></li>
          <li>Code every week. Update: I suck at this.</li>
        </ul>

      <h2>Mindfullness</h2>
        <ul>
          <li>Travel to 10 new countries. Update: Japan, Czech Republic, Denmark, Belgium. 6 to go. I visited a few cities I've already been to, and I'm confident I'm going to make it here.</li>
          <li>Become conversational in italian. Update: L'italiano è un idioma bellisimo. 🇮🇹 </li>
        </ul>

      <p>I'm still thinking about what systems I can build to achieve these goals. </p>
      <p class="update"><i class="em em-coffee"></i> This update was made on July 1st, 2017.</p>
    </div>
  </div>
</div>