  <div class="content clearfix">

  <div class="section--wrapper col-xs-12">

    <h1 class="section--title">What I'm doing now</h1>
    <p class="section--intro">I hate About pages, but I love Now pages. They are dynamic, as we humans are. Below you can see what I'm up to these days.</p>

    <br />

    <p>I'm still working as a Director of Marketing at <a href="http://evelo.com" class="site--link">EVELO</a> while honing my design and coding skills. That said, two things are occupying my mind right now.</p>
    <p>First, my upcoming move to Milan. I'm excited, but scared at the same time. Second, what will 2017 look like for me. I really want to start something – either a company, or a side project. Below you can see my Resolutions.</p>

    <h3 class="section--header">Health</h3>
    <ul>
      <li>Increase strenght by increasing my 5 rep max - Deadlift 100kg, front squat 80kg, push press 70kg, bench press 100kg, 10 pull-ups.</li>
      <li>Increase mobility - Gymnastics Body Intermediate Level</li>
    </ul>

    <h3 class="section--header">Work</h3>
      <ul>
        <li>Start a company or get a new job</li>
        <li>Start a side project</li>
        <li>Code every week</li>
      </ul>

    <h3 class="section--header">Mindfullness</h3>
      <ul>
        <li>Travel to 10 new countries</li>
        <li>Become conversational in italian</li>
      </ul>

      <p>I'm still thinking about what systems I can build to achieve these goals. </p>

  <p class="update"><i class="em em-coffee"></i> This update was made on January 8th, 2017.</p>

</div>
  </div>