<div class="">
  <div class="section--wrapper column col-xs-12 col-md-6 column__intro left-column">
    <h1 class="homepage--title">What I'm doing now </h1>
    <div class="homepage--introy">
      <p>I'm currently freelancing, focusing on growth, product marketing and lead generation for B2B and eCommerce companies.</p>

      <p>To keep myself accountable, you can check my 2018 Resolutions and how I'm doing so far. My <%= link_to '2017 resolutions', twentyseventeen_path  %> are also public.</p>

      <h3>Health</h3>
      <p>A healthy body is a must for me. Last year I became stronger and more mobile. In 2018, I want to go with more technical movements </p>
      <ul>
        <li>Increase strenght and mobility - 70kg snatch.</li>
        <li>Increase skills - 5 muscleups.</li>
      </ul>

      <h3>Work</h3>
      <p>Work is a big part of my life, but I'm constantly reminding myself that it's not the only one. This year I'm graduating from little side projects to a real side business.</p>
        <ul>
          <li>Start a side business doing at least $2,000/month.</li> 
        </ul>

      <h3>Mindfullness</h3>
      <p>A healthy mind is as important as a healthy body. Last year, it was about travel and communication. 2018 won't be that different.</p>
        <ul>
          <li>Travel to 10 new countries.</li>
          <li>Climb Mount Kilimanjaro.</li>
          <li>Become fluent in french.</li>
        </ul>

      <p><i>This update was made on December 28, 2017.</i></p>
    </div>
  </div>
</div>