<div class="">
  <div class="section--wrapper column col-xs-12 col-md-6 column__intro left-column">
    <h1 class="homepage--title">2017 Resolutions</h1>
    <div class="homepage--introy">
      <p>To keep myself accountable, you can check my 2017 Resolutions and the end of year progress. My <%= link_to '2018 resolutions', now_path  %> are here.</p>

      <p>If there's one lesson learned, it's focus. In 2018 I'm going to limit the scope and number of resolutions.</p>

      <h3>Health</h3>
      <p>A healthy body is a must for me. In 2015 I improved my sleep and lost weight, and in 2017 I became stronger and more mobile.</p>
      <ul>
        <li>Increase strenght by increasing my 5 rep max - <s>Deadlift 110kg</s>, <s>front squat 80kg</s>, <s>push press 60kg</s>, <s>bench press 90kg</s>, <s>10 pull-ups</s>.</li>
        <li>Increase mobility - Gymnastics Body Intermediate Level. Update: slow progress, not as good as I hoped for but I didn't put in the work.</li>
      </ul>

      <h3>Work</h3>
      <p>Work is a big part of my life, but I'm constantly reminding myself that it's not the only one. </p>
        <ul>
          <li><s>Start a company or get a new job</s> Update: I quite my job, and started freelancing.</li> 
          <li><s>Start a side project.</s> <a href="http://minimize.email">Minimize Email</a>, <a href="http://ecommercedai.ly">eCommerceDaily</a>, <a href="http://diversitylist.co">Diversity List</a>, <a href="http://blackfridaytech.co">Black Friday Tech</a>. </li>
          <li>Code every week. Update: I suck at this, but I did build more stuff, specially towards the end of the year. Launching is a muscle that needs to be exercised.</li>
        </ul>

      <h3>Mindfullness</h3>
      <p>A healthy mind is as important as a healthy body. In 2016, I successfully got myself into stoicism. 2017 was about travel and communication.</p>
        <ul>
          <li>Travel to 10 new countries. Update: Japan, Czech Republic, Denmark, Belgium, Malta, Portugal, Finland, Estonia. I got super close, but for multiple personal reasons, I couldn't make it. It was a fun though.</li>
          <li><s>Become conversational in italian.</s> Update: L'italiano è un idioma bellisimo 🇮🇹 I'm focusing on french now.</li>
        </ul>

      <p><i>This update was made on December 28, 2017.</i></p>
    </div>
  </div>
</div>