<div class="content clearfix">

  <div class="article--wrapper col-xs-12">

<h1 class="article--title"><%= @post.title %></h1>

<div class="article--body"> 
<%= markdown @post.content %> <br />
</div>

<% if user_signed_in? %>
  <div class="admin--links">
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete thi post?" } %> 
  </div>
<% end %>

  </div>
</div>