.post--title {
    margin: 0.5rem 0;
    font-size: 2.2rem;
    font-weight: 700;

    a {
      text-decoration: none;
    font-family: $secondary-font;

      &:hover {
    color: $dark-color;
    border-bottom: 2px solid $highlight-color;
    text-decoration: none;
  }
    }
 }

.post--date {
  font-size: 1.2rem;
  color: $light-color;
  margin-bottom: 2em;
}


.page--posts {
  width: 80%;
  max-width: 760px;
}


// Article show

.article--wrapper {
  width: 60%;
}

.article--title {
  text-align: left;
  font-size: 5rem;
  font-family: $secondary-font;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.article--body {

  p, li {
    text-align: left;
    font-size: 1.8rem;
    font-family: $primary-font; 
    line-height: 1.75;
    
  }

  p {
    margin-bottom: 1em;
  }

  h2 {
    font-size: 3rem;
    font-family: $secondary-font;
    font-weight: 700;
  }

  h3 {
    font-size: 2.4rem;
    font-family: $secondary-font;
    font-weight: 700;
  }

  h4 {
  text-align: left;
  font-size: 2rem;
  color: $light-color;
  line-height: 1.75;
  margin-bottom: 2em;
  }

  a {
    color: $dark-color;
    border-bottom: 2px dotted $highlight-color;
    text-decoration: none;

    &:hover {
      color: $dark-color;
      border-bottom: 2px solid $highlight-color;
      text-decoration: none;
    }
  }

}

.admin--links a {
  margin-right: 20px;
  color: $highlight-color;
  font-family: $secondary-font;
  font-size: 1.8rem;
}