// Columns 

.col-1, .col-2, .col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2, .col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

// General Styles

.homepage--title {
  font-size: 7rem;
  font-family: $secondary-font;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #F16B6F;
}

.homepage--intro {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}


.column {

  padding-left: 0px;

  .column--title {
    font-size: 1.4rem;
    text-transform: uppercase; 
    color: $light-color;
    letter-spacing: 2px;
    padding: 1em 0;
    font-weight: 700;
    }

  .column--post-title {
    margin-bottom: .5em;

    .column--post-title__link {
      color: $dark-color;
      text-decoration: none;
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: $secondary-font;

      &:hover {
        color: $dark-color;
        border-bottom: 2px solid $highlight-color;
        text-decoration: none;
      }
    }
  } 

  .column--post__date {
    font-size: 1rem;
    color: $light-color;
    margin-bottom: 2em;
  }
}

.column__intro {
    padding: 0px;
}


