// Header

header {
  padding: 2em 5%;

  .header--logo {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0.5em 1rem;
    text-decoration: none;
    color: $dark-color;
    float: left;
  }

  .header--nav {
    float: right;
    padding-top: .5rem;

    .header--nav--link {
      color: $light-color;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1.4rem;

      &:hover {
        color: $dark-color;
        border-bottom: 2px solid $highlight-color;
        text-decoration: none;
      }
    }
  }
}



// Footer


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
}

.container {
  width: auto;
  padding: 0;
}


footer {
  padding: 2em 5%;

  .footer--note {
    float: left;
    margin: 0;
    font-size: 1.4rem;
  }

  .footer--nav {
    padding-top: .2em;
    font-size: 1.2rem;
  
    .footer--nav--link { 
      color: $dark-color;
      float: right;
      text-decoration: none;
      margin-left: 1em;
      padding-top: .2em;
      font-size: 1.4rem;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}

// Toggle

.navbar-toggle {
  background-color: $highlight-color !important ;
}

.navbar-toggle .icon-bar {
  background-color: white;
}