// Header

  .navbar .navbar-nav {
    display: inline-block;
    float: none;

}

.em-house {
  padding: 0px !important;
}

header {

  .header--logo {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 0px;
    text-decoration: none;
    color: $dark-color;
    float: left;
    margin-top: -5px;
    padding: 0px 0px 20px 0px !important;

    &:hover {
      background-color: white !important;
      border-bottom: white !important;

    }

  }


    a.current {
      border-bottom: 2px solid $highlight-color !important;
    }

  .header--nav {
    padding: 2.5% 5% 0 0;


    .header--nav--link {
      color: $light-color;
      text-decoration: none;
      padding-top: 5px;
      margin-right: 3rem;
      font-size: 1.3rem;
      font-family: $secondary-font;
      padding: 0px;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      font-weight: 700;



      &:hover {
        color: $highlight-color;
        text-decoration: none;
        background: none;
      }

    }
  }
}



// Sticky footer styles 

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
}

.container {
  width: auto;
  padding: 0;
}

// Regular footer (not needed for stickyness)


footer {
  padding: 2em;
  padding-left: 50px !important;
  margin-top: 40px;

  .footer--note {
    float: left;
    margin: 0;
    font-size: 1.4rem;
    font-family: $primary-font;
  }

  .footer--nav {
    padding-top: 1.5em;
    font-size: 1.2rem;
  
    .footer--nav--link { 
      color: $dark-color;
      float: left;
      text-decoration: none;
      margin-left: 1em;
      padding-top: .2em;
      font-size: 1.4rem;

      &:hover {
        color: $highlight-color;
      }
    }
  }
}

// Toggle

.navbar-toggle {
  background-color: $highlight-color !important ;
}

.navbar-toggle .icon-bar {
  background-color: white;
}