.section--title {
  text-align: left;
  font-size: 5rem;
  color: $highlight-color;
  font-family: $secondary-font;
  font-weight: 700;
  margin-bottom: 10px;
}

.section--wrapper {
  width: 50%;
}

.section--body {

  p, li {
    text-align: left;
    font-size: 1.8rem;
    font-family: $primary-font; 
    line-height: 1.75;
    
  }

  p {
    margin-bottom: 1.2em;
  }

  h2 {
    font-size: 3rem;
    font-family: $secondary-font;
    font-weight: 700;
    margin-top: 1.5em;
  }

  h3 {
    font-size: 2.4rem;
    font-family: $secondary-font;
    font-weight: 700;
  }

  h4 {
  text-align: left;
  font-size: 2.1rem;
  color: $dark-color;
  line-height: 1.6;
  margin-bottom: 2em;
  }

  a {
    color: $dark-color;
    border-bottom: 2px dotted $highlight-color;
    text-decoration: none;

    &:hover {
      color: $dark-color;
      border-bottom: 2px solid $highlight-color;
      text-decoration: none;
    }
  }

}

.update {
  font-size: 1.8rem;
  color: $light-color;
}

.em-house, .em-book {
  font-size: 1.4rem;
}

// 

.email--body {
  width: 100%;
  background-color: #eee;
  border-radius: 2px;
  padding: 3em 3em;
  overflow: auto;

  p {
    font-family: $tertiary-font;
  }
}